html, body {
  height: 100%;
}

header {
  text-align: center;
  font-family: 'Lora', serif;
}

.jumbotron {
  color: grey;
  border-bottom: 4px solid grey;
}

#container {
  height: 100%;
  width: 100%;
}

footer {
  text-align: center;
  height: 80px;
  width: 100%;
  border-top: 4px solid grey;
  color: grey;
  font-size: 20px;
  padding: 30px;
  margin-top: 30px;
  bottom: 0;
  position: absolute;
}

button {
  width: 120px;
  height: 45px;
  text-align: center;
  font-size: 18px;
  margin: 5px;
  background-color: #AFEFF3    ;
}

#presetBtns {
  display: inline-flex;
  margin-bottom: 20px;
}

.wrapper {
  display: inline-flex;
}

img {
  height: 300px;
  width: 300px;
}

.sidebar {
    width: 280px;
    height: 60px;
    position: fixed;
    top: 190px;
    right: 110px;
    background: #eee;
    padding: 8px 0;
}

#search input[type=text] {
  height: 45px;
  width: 175px;
  background-color: #AFEFF3;
  text-align: center;
  margin-left: 5px;
}

#findIt {
  height: 45px;
  width: 85px;
  background-color: #AFEFF3;
  text-align: center;
  margin-top: -1px;
}
